footer {
    background-color: rgb(46 46 46)!important;
    min-height: unset!important;
  }
  .footer,
  .footer__copyright {
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .footer__copyright {
    background: #363636;
  }
  .footer__info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .footer__info-content {
    color: #fff;
  }
  .footer__info-content > h3 {
    padding: 10px 0;
  }
  .footer__info-content > p {
    line-height: 30px;
    padding: 10px 0;
  }
  .footer__info-content > p > a {
    text-decoration: none;
    color: #fff;
  }
  .footer__info-content > p > a:hover {
    text-decoration: underline;
  }
  .footer__social {
    display: flex;
  }
  .footer__social > a {
    text-decoration: none;
    color: #fff;
  }
  .footer__social > a > i {
    padding: 5px;
    font-size: 22px;
  } 
